<div *ngIf="book">
  <h1>{{ book.title }}</h1>
  <img
    [src]="
      book.covers && book.covers.length
        ? 'https://covers.openlibrary.org/b/id/' + book.covers[0] + '-L.jpg'
        : defaultCover
    "
    alt="Book Cover"
  />

  <p>
    <strong> Authors:</strong>
    <ng-container *ngFor="let author of book.authors; let isLast = last">
      {{ author.name }}
    </ng-container>
  </p>
  <p><strong> First Published: </strong>{{ getFirstPublishYear(book) }}</p>
</div>

<div *ngIf="!book">
  <p>Loading book details...</p>
</div>
